@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
@model Models.Login
<div>
    <h1>Sign In</h1>
    <form method="post">
        <label asp-for="Email">Email</label>
        <input type="text" asp-for="Email" required />
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" required />
        <input type="submit" />
    </form>
    <p>@ViewBag.Error</p>
</div>
