html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    max-width: 768px;
    margin: auto;
    margin-top: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    white-space: nowrap;
    line-height: 60px;
}

.error {
    color: red;
}

.modal-body {
    padding: 5%;
}

.js-off .js-on {
    display: none;
}
