html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    max-width: 768px;
    margin: auto;
    margin-top: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    white-space: nowrap;
    line-height: 60px;
}

.error {
    color: red;
}

.modal-body {
    padding: 5%;
}

.js-off .js-on {
    display: none;
}

.height-1em {
    height: 1em;
}

main {
    margin-bottom: 60px;
    margin-top: 1em;
}

.height-1em {
    height: 1em;
}

/* Need to replace picnic.css background for Content Security Policy */
select {
    background: #fff;
}

.select-arrow {
    position: relative;
    display: inline block;
}

.select-arrow:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    right: 0.9em;
    top: 0.9em;
    margin-right: 0px;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid #000;
    transition: all 0.3s linear;
}

