@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = ViewData["Operation"] + " Transaction";
    Layout = ViewData[Utils.Layout]?.ToString();
}
@model Models.Transaction
<article>
    <header><h3>@ViewData["Operation"]</h3></header>
    <section>
        @using (Html.BeginForm(FormMethod.Post, new { @id = "mainform", @hx_post = this.Context.Request.Path, @hx_target = "#modalBody" }))
        {
        <label asp-for="Amount">Amount</label><input asp-for="Amount" type="number" step="0.01" value="@if(@Model.Amount != 0){@Model.Amount}" required />
        <label asp-for="Date">Date</label><input asp-for="Date" type="date" value='@if(Model.Date != DateTime.MinValue){@Model.Date.ToString("yyyy-MM-dd")}' required />
        <label asp-for="Note">Note</label><input asp-for="Note" type="text" value="@Model.Note" required />
        @if ("Add".Equals(ViewData["Operation"]))
        {
        <label><input type="checkbox" name="AddAgain" /><span class="checkable">Add Again</span></label>
        }
        }
    </section>
    <footer>
        <input type="submit" form="mainform" />

        <a href='/Transaction/Index/@this.ViewContext.RouteData.Values["id"]' class="button dangerous">Cancel</a>

        <div class="error">
            <ul>
                @foreach (var e in ViewData.ModelState.Values.SelectMany(f => f.Errors).Select(f => f.ErrorMessage))
                {
                <li>@e</li>
                }
            </ul>
        </div>
    </footer>
</article>

