@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Transactions";
}
@model (int, List<Transaction>)

<noscript>
    <a href="/Transaction/Transfer/@Model.Item1" class="button">Transfer</a>
    <a href="/Transaction/Add/@Model.Item1" class="button">Add Transaction</a>
</noscript>
<label for="modal1" hx-get="/Transaction/Transfer/@Model.Item1" hx-target="#modalBody" class="button js-on">Transfer</label>
<label for="modal1" hx-get="/Transaction/Add/@Model.Item1" hx-target="#modalBody" class="button js-on">Add</label>

<div style="height: 1em;"></div>
@if(Model.Item2.Count > 0){

    <table class="success">
        <thead>
            <tr>
                <th></th>
                <th>Note</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var r in Model.Item2)
            {
                <tr>
                    <td>@r.TransactionNumber</td>
                    <td>@r.Note</td>
                    <td>@r.Amount</td>
                    <td>@r.Date.ToString("yyyy-MM-dd")</td>
                    <td>
                        <noscript>
                            <a href="/Transaction/Delete/@Model.Item1/@r.TransactionNumber" class="button warning">Delete</a>
                        </noscript>
                        <label for="modal1" hx-get="/Transaction/Delete/@Model.Item1/@r.TransactionNumber" hx-target="#modalBody" class="button warning js-on">Delete</label>
                    </td>
                    <td>
                        <noscript>
                            <a href="/Transaction/Update/@Model.Item1/@r.TransactionNumber" class="button">Update</a>
                        </noscript>
                        <label for="modal1" hx-get="/Transaction/Update/@Model.Item1/@r.TransactionNumber" hx-target="#modalBody" class="button js-on">Update</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal">
    <input id="modal1" type="checkbox" />
    <label for="modal1" class="overlay"></label>
    <div class="modal-body" id="modalBody">
    </div>

</div>
<script>document.getElementById("modal1").checked = false;</script>