<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnvelopeASP</title>
    <link rel="stylesheet" href="~/lib/picnic/picnic.min.css" integrity="sha512-HZgZOfcUw1rxWuEBlzDis5U4HlbzR0wcWmb3FrLSKV6uhZiZpT9JSTzPJplHDmJZJFNfAReW+iDELJ1kADYHtA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" crossorigin="anonymous"/>
</head>
<body>
    <header>
        <nav>
            <a class="pseudo button" asp-area="" asp-controller="Home" asp-action="Index">EnvelopeASP</a>
            <div class="menu">
                

                <a class="pseudo button" asp-area="" asp-controller="Envelope" asp-action="Index">Envelopes</a>
                    
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="pseudo button" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="pseudo button" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
                }

            </div>
            
                
        </nav>
    </header>
    <div>
        <main>
            <div style="height: 1em;"></div>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2023 - EnvelopeASP
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true" crossorigin="anonymous"></script>
    <environment exclude="Development">
        <script src="~/lib/htmx/htmx.min.js" asp-append-version="true" integrity="sha512-B5IkMjoTFeR6sB/Mbd6eNnF0pwvfG5ZgSGdH4pL2uWnadND4pWTFXxXi3TBBKCZWGaWx83AujfrzFQuqfau11Q==" crossorigin="anonymous"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/htmx/htmx.js" asp-append-version="true" integrity="sha512-rw+Ogap1U6EBWSPQ6snzxRaBn39OkUqwXpEJ2zhD7y3/wqzs7irKw5wv0BZjHdwmzYLs18zyj5h14MbRFfQNGg==" crossorigin="anonymous"></script>
    </environment>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
