@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Envelope";
    Layout = "_Layout";
}
@model List<Envelope>

<noscript>
    <a href="/Envelope/Add">Add Envelope</a>
</noscript>
<label for="modal1" class="button js-on" hx-get="/Envelope/Add" hx-target="#modalBody">Add Envelope</label>

<div style="height: 1em;"></div>
@if(Model.Count > 0)
{
    <table class="success">
        <thead>
            <tr>
                <th>Envelope</th>
                <th>Amount</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Amount</td>
                    <td>
                        <noscript><a href="/Envelope/Delete/@r.Number?name=@System.Web.HttpUtility.UrlEncode(r.Name)" class="error" title="Delete Envelope">&#10060;</a></noscript>
                        <label for="modal1" class="error js-on" hx-get="/Envelope/Delete/@r.Number?name=@System.Web.HttpUtility.UrlEncode(r.Name)" hx-target="#modalBody" title="Delete Envelope">&#10060;</label>
                    </td>
                    <td>
                        <noscript>
                            <a href="/Envelope/Update/@r.Number?name=@System.Web.HttpUtility.UrlEncode(r.Name)" class="button" title="Update Envelope Name">&#128397;</a>
                        </noscript>
                        <label for="modal1" class="button js-on" hx-get="/Envelope/Update/@r.Number?name=@System.Web.HttpUtility.UrlEncode(r.Name)" hx-target="#modalBody" title="Update Envelope Name">&#128397;</label>
                    </td>
                    <td>
                        <a href="/Transaction/Index/@r.Number" title="View Transactions">&#128233;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal">
    <input id="modal1" type="checkbox" />
    <label for="modal1" class="overlay"></label>
    <div class="modal-body" id="modalBody">

        
    </div>
    
</div>
<script>document.getElementById("modal1").checked = false;</script>
