@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="pure-menu-heading">Welcome</h1>
    @if(User.Identity is null || User.Identity.IsAuthenticated == false)
    {
        <a asp-controller="Account" asp-action="SignUp" class="pure-button">Don&#39;t have an account? Sign Up!</a>
    } else
    {
        <a asp-controller="Envelope" asp-action="Index" class="button primary">Go To Envelopes</a>
        <div></div>
        <a asp-controller="Account" asp-action="PasswordReset" class="button warning">Password Reset</a>
    }

</div>
