@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewData["Operation"] + " Envelope";
    Layout = ViewData[Utils.Layout]?.ToString();
}

<article>
    <header>
        <h3>@ViewData["Operation"]</h3>
            
    </header>
    <section>
        @using (Html.BeginForm(FormMethod.Post, new { @id="mainform"}))
        {
            <label>@ViewData["Operation"] Envelope Name</label>
            <input type="text" maxlength="50" name="envelopeName" value="@Model.ToString()" required />    
        }

        
    </section>
    <footer>
        <input type="submit" form="mainform" />
        <noscript>
            <a href="/Envelope" class="button dangerous">Cancel</a>
        </noscript>
        <label for="modal1" class="button dangerous js-on">Cancel</label>
        <div class="error">
            <ul>
                @foreach (var e in ViewData.ModelState.Values.SelectMany(f => f.Errors).Select(f => f.ErrorMessage))
                {
                    <li>@e</li>
                }
            </ul>
        </div>
    </footer>
    
</article>

